.aboutBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;

    &__image {
        width: 91.5%;
        height: 223px;
        border-radius: 25px;
        object-fit: cover;
        filter: brightness(60%);
    }
}