@import "../../styles/variables.scss";
@import "../../styles/Breakpoint.scss";

.ratings {
    text-align: end;
    font-size: 24px;
    margin-top: 40px;
    @include mobile {
      font-size: 18px;
      /*position: absolute;
      left: 5%;
      top: 43.7%;*/
      margin-top: 0;
    }

    &__stars {
        color: $principal-color;
        &__empty {
            color: #E3E3E3;
        }
    }

}