@import "../../styles/App.scss";
@import "../../styles/variables.scss";
@import "../../styles/Breakpoint.scss";

.logements {
    width: 84.8%;
    background-color: #f6f6f6;
    border-radius: 25px;
    margin: 50px auto;
    @include mobile {
        width: 90%;
        margin: 20px auto;
        background-color: $second-text-color;
    }

    &__list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-around;
        gap: 30px;
        padding: 30px;
        flex-wrap: wrap;
        @include mobile {
            grid-template-columns: repeat(1, 1fr);
            padding: 0;
        }
    
        &__item {
            position: relative;
        
            &__cards {
                color: $second-text-color;
               
                .logements-img {
                    border-radius: 10px;
                    width: 340px;
                    height: 340px;
                    object-fit: cover; 
                    @include mobile {
                        height: 255px;
                    }
                }

                .logements-title {
                    width: 91%;
                    position: absolute;
                    font-size: 18px;
                    bottom: 16px;
                    left: 15px;
                    @include mobile {
                        width: 60%;
                    }

                }
            }
        }
    }

}
