@import "../../styles/variables.scss";
@import "../../styles/Breakpoint.scss";

@keyframes slide {
    0% {
        overflow: hidden;
        max-height: 0%;
        opacity: 0;
    }
    
    50% {
        max-height: 50%;
    }
    
    100% {
        max-height: 100%;
    }
}



.collapse {
    width: 84.8%;
    margin: 0 auto 38px;
    @include mobile {
        width: 100%;
        margin: 0 auto 15px;
    }

    &__container {
        width: 83.8%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        background-color: $principal-color;
        border-radius: 5px;
        padding: 10px 20px;
        color: $second-text-color;
        @include mobile {
            width: 90%;
            padding: 4px 6px;
        }

        &__title {
            font-size: 24px;
            font-weight: 700;
            @include mobile {
                font-size: 12px;
            }
        }

        &__icon {
            font-size: 24px;
            cursor: pointer;
            transition: transform 300ms ease-in;
            @include mobile {
                font-size: 16px;
            }
        }
        &__icon.rotate {
            transform: rotate(-180deg);
        }

        
        &__text {
            position: relative;
            z-index: -1;
            width: 83.8%;
            margin: -2px auto;
            background-color: #F6F6F6;
            border-radius: 0 0 5px 5px;
            padding: 10px 20px;
            display: flex;
            align-content: space-around;
            line-height: 1.5;
            animation: slide 800ms ease-in;
            @include mobile {
                width: 90%;
                font-size: 12px;
            }
        }
    }
}
