@import url(../../styles/variables.scss);
@import "../../styles/Breakpoint.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    width: 84.8%;
    @include mobile {
        width: 90%;
        margin: 20px auto;
    }

    &__logo {
        &__img {
            width: 210px;
            height: 68px;
            @include mobile {
                width: 145px;
                height: 46px;
            }
        }
    }

    &__navbar {
        & ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
            @include mobile {
                text-transform: uppercase;
                gap: 20px;
            }
        }

        &__link {
            display: flex;
            font-size: 24px;
            font-weight: 500;
            position: relative;
            @include mobile {
                font-size: 12px;
            }
        }
        
    }
    }



